/* ------ LEFT MENU ------ */
.dark-mode .logo img {
    filter: invert(1);
}
.dark-mode .menu {
    background-color: #252836 !important;
    box-shadow: 1px 0 12px 0 rgb(15 15 20 / 80%) !important;
    border: none !important;
}
.dark-mode .menu-list a {
    color : white !important;
    border-radius: 10px;
    font-weight: lighter;
}
.dark-mode .menu-list a:hover {
    background-color: #2F3344 !important;
}
.dark-mode .menu-list a.active {
    background-color: #2F3344 !important;
    border-right: 6px solid #55559A !important;
}
.dark-mode div.body div.menu i.closemenu {
    color: white !important;
}

/* ------ MES COURS ------ */
.dark-mode .content {
    background-color: #1F1D2B !important;
}
.dark-mode a {
    color: white !important;
}
.dark-mode.aria a {
    color: #55559A !important;
    text-decoration: underline;
}
.dark-mode .main-content header h2 {
    color: white !important;
}
.dark-mode .main-content div ul li a {
    background-color: #55559A !important;
    border-color: #55559A !important;
}
.dark-mode .table {
    background-color: #252836 !important;
    border: none !important;
    box-shadow: 1px 0 12px 0 rgb(15 15 20 / 60%) !important;
}
.dark-mode .table div.element:nth-child(2n)  {
    background-color: #2F3344 !important;
}
.dark-mode .tab-panel div {
    color: white !important;
}
.dark-mode .table div.element:not(:last-of-type) {
    border: none !important;
}
.dark-mode .dev{
    background-color: #8282BA !important;
}
.dark-mode .semester {
    background-color: grey !important;
}

.dark-mode .content{
    background-color: #1F1D2B !important;
}
/* HEADER */


.dark-mode .header{
    background-color: #1F1D2B !important;
    border-bottom: 1px solid grey !important;
}
.dark-mode .infos span{
    color: white !important;
}
.dark-mode .user a i{
    color: white !important;    
}
.dark-mode .divider {
    background-color: grey !important;
}

/* ACCEUIL */

.dark-mode .dashboard h2{
    color: white !important;
}
.dark-mode .dashboard p {
    color: white !important;
}
.dark-mode .element {
    border: none !important;
    background-color: #252836  !important;
}
.dark-mode div{
    color: white !important;    
}
.dark-mode h1{
    color: white !important;    
}
.dark-mode h3{
    color: white !important;
}
.dark-mode h2{
    color: white !important;
}
.dark-mode p{
    color: white !important;    
}
.dark-mode .button {

    background-color: #55559A !important;
    color: white !important;

}

.dark-mode .table{
    box-sizing: border-box grey;
    background-color: #252836  !important;
}

.dark-mode .block{
    border-color: none !important;
    background-color: #252836  !important;
}
.dark-mode .block *{
    color: white !important;
}

/* PROJETS */
.dark-mode .tab-panel .element{
    border: none !important;
}
.dark-mode .tab-panel{
    color: white !important;
}
.dark-mode .date{
    color: white !important;
    border-color: grey !important;
}
/* Bulletins */
.dark-mode .mb-4 a{
    background-color: #55559A !important;
}
/* Présence */
.dark-mode form input {
    border-color: grey !important;
    background-color: #252836  !important;
}
.dark-mode ::placeholder {
  color: white !important;
  opacity: 1 !important; }

/* Planning */
.dark-mode .vuecal__title-bar button{
color: white !important;
}
.dark-mode .vuecal__menu{
    background-color: #55559A !important;
}
.dark-mode .vuecal__title-bar{
    background-color: #8282BA !important;
}

.dark-mode .vuecal__event{
    opacity: 0,5 !important;
background-color: rgba(130, 130, 186, 0.6)!important ;


}
.dark-mode .label {
    color: white !important;
}
